@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;700&family=Noto+Sans+Mono:wght@400;700&display=swap');

body {
    font-family: 'Chivo Mono', monospace;
    background-color: #151515;
    user-select: none;
}

figcaption, a {
    text-decoration: none !important;
    font-weight: 400;
    text-align: center;
    color: crimson;
}

.container {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imageFile, .textFile {
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.imageFile:hover, .textFile:hover {
    border: none;
    filter: contrast(103%) brightness(120%);
    transform: scale(105%);
    padding: 5px;
    transition: 0.3s;
}   