@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;700&family=Noto+Sans+Mono:wght@400;700&display=swap');

body {
    font-family: 'Chivo Mono', monospace;
    background-color: #151515;
    color: crimson;
    user-select: none;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container pre {
    max-width: 100%;
    font-size: 3px;
}

.container pre:hover {
    color: #e24a69;
}
